
<div>
    <label for=""> Festive: </label>
    <input type="text" [(ngModel)]="ride.festive" placeholder="Festive">
    <br/>
    <label for=""> Airport: </label>
    <input type="text" [(ngModel)]="ride.airport" placeholder="Airport">
    <br/>
    <label for=""> app/pip: </label>
    <input type="text" [(ngModel)]="ride.app_pip" placeholder="app/pip">
    <br/>
    <label for=""> units: </label>
    <input type="text" [(ngModel)]="ride.units" placeholder="Units">
    <br/>
    <label for=""> default: </label>
    <input type="text" [(ngModel)]="ride.default" placeholder="Default">

</div>