<div *ngIf="student">
	<label for=""> Id: </label>
	<input type="text" [(ngModel)]="student.id" placeholder="Id">
	<br/>
	<label for=""> Name: </label>
	<input type="text" [(ngModel)]="student.name" placeholder="Name">
	<br/>
	<label for=""> Classes: </label>
	<!--<input type="text" [(ngModel)]="student.classes" placeholder="Classes">-->
	<ul>
		<li *ngFor="let class of student.classes">
            {{class}}
		</li>
	</ul>
	<br/>
	<label for=""> Grade: </label>
	<input type="text" [(ngModel)]="student.grade" placeholder="Grade">
</div>